@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,800,900|Hepta+Slab");

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Hepta Slab", serif;

$primary-color: #0092d1;
$secondary-color: #e1f3f8;
$secondary-color-bold: #005b99;

$red-darkest: #981b1e;
$red-dark: #cc393e;

$white: #ffffff;
$black: #000000;

$light-gray: #e2e2e2;
$dark-gray: #555555;
