@import "variables";
@import "align";
@import "mixins";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $primary-font;
  background-color: $primary-color;
}

.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0px auto;
}

@media (min-width: 768px) {
  .dropdowns {
    width: 75vw;
    flex-flow: row wrap;
  }
}
@media (max-width: 767px) {
  .dropdowns {
    width: 90vw;
    align-items: center;
    flex-flow: column wrap;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 30px;
  padding: 30px 0px;
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  &-left {
    width: 50%;
    padding: 120px 60px;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mobile {
      padding: 30px 10px;
    }
  }

  &-right {
    width: 50%;
    padding: 120px 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/bus.jpg");
    background-size: cover;
    background-position: bottom center;

    @include mobile {
      padding: 30px 10px;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;

    @include mobile {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &-description {
    font-weight: 300;
    font-size: 32px;

    @include mobile {
      font-size: 14px;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 40px;

  .dropdowns {
    display: flex;
    width: 80%;
    justify-content: center;
    background-color: $white;
    @include rounded-corners;
    @include shadows;
    padding: 30px 0px;
    margin-top: -30px;
    @include ease-transition;

    @include mobile {
      margin-top: -15px;
    }
  }

  .dropdown-routes,
  .dropdown-direction,
  .dropdown-stop {
    margin: 10px;
  }

  .predictions {
    width: 80%;
    min-height: 220px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    @include mobile {
      width: 90%;
    }

    &.buses {
      min-height: 110px;
      .prediction {
        background-color: $secondary-color-bold;
      }
    }

    .prediction {
      background-color: $primary-color;
      color: $white;
      @include rounded-corners;
      @include shadows;
      margin: 5px 0;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .prediction-route-number {
        font-size: 22px;
        display: flex;
        flex-direction: column;

        &-direction {
          font-size: 15px;
          font-weight: 400;
        }
      }

      .prediction-time {
        font-size: 32px;
        min-width: 34%;
        text-align: right;
      }
    }

    .predictions-empty {
      margin: 20px;
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: 60px 0;

    .predictions {
      width: 45%;
      margin: 5px;

      @include tablet {
        min-height: auto;
      }

      .prediction {
        @include tablet {
          &:not(:nth-child(2)) {
            display: none;
          }
        }

        &-route-number {
          @include tablet {
            font-size: 16px;
          }

          &-direction {
            @include tablet {
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .shortcuts {
    margin: 20px;
    display: flex;
    flex-direction: row;

    &-button {
      cursor: pointer;
      @include rounded-corners;
      background-color: $red-dark;
      padding: 8px 12px;
      margin: 0 5px;
      color: $white;
    }
  }
}
